<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FeedBack</title>
    <link rel="stylesheet" type="text/css" href="reset.css"/>
    <link rel="stylesheet" type="text/css" href="grid.css"/>
    <link rel="stylesheet" type="text/css" href="general.css"/>
    <link rel="stylesheet" type="text/css" href="icon.css"/>
    <link rel="stylesheet" type="text/css" href="feedback.css"/>
    <link rel="stylesheet" type="text/css" href="headings.css"/>
</head>
<body>
    <div class="feedback__background">
        <div class="container">
            <div class="row">
                <div class="col col-4 col-offset-4">
                    <div class="feedback__avatar">
                        <input type="radio" name="feedback__avatar-list" class="feedback__radio" id="feedback__radio--id1">
                        <label class="feedback__label" for="feedback__radio--id1">
                            <div class="icon-container icon__feedback--inactive">
                                <img src="../../images/face1.jpg" class="icon-pic">
                            </div>
                        </label>
                        <div class="feedback__review">
                            <div class="icon-container icon__feedback--main">
                                <img src="../../images/face1.jpg" alt="1st Face" class="icon-pic">
                            </div>
                            <h2 class="heading heading__h3 heading__h3--align">1st text</h2>
                            <h5  class="heading heading__h3--align">Teehan + Lax</h5>
                            <hr class="feedback__hr">
                        </div>
                    </div>
                    <div class="feedback__avatar">
                        <input type="radio" name="feedback__avatar-list" class="feedback__radio" id="feedback__radio--id2">
                        <label class="feedback__label" for="feedback__radio--id2">
                            <div class="icon-container icon__feedback--inactive">
                                <img src="../../images/face2.jpg" class="icon-pic">
                            </div>
                        </label>
                        <div class="feedback__review">
                            <div class="icon-container icon__feedback--main">
                                <img src="../../images/face2.jpg" alt="2nd Face" class="icon-pic">
                            </div>
                            <h2 class="heading heading__h3 heading__h3--align">2nd text</h2>
                            <h5  class="heading heading__h3--align">Teehan + Lax</h5>
                            <hr class="feedback__hr">
                        </div>
                    </div>
                    <div class="feedback__avatar">
                        <input type="radio" name="feedback__avatar-list" class="feedback__radio" id="feedback__radio--id3">
                        <label class="feedback__label" for="feedback__radio--id3">
                            <div class="icon-container icon__feedback--inactive">
                                <img src="../../images/face3.jpg" class="icon-pic">
                            </div>
                        </label>
                        <div class="feedback__review">
                            <div class="icon-container icon__feedback--main">
                                <img src="../../images/face3.jpg" alt="3rd Face" class="icon-pic">
                            </div>
                            <h2 class="heading heading__h3 heading__h3--align">3rd text</h2>
                            <h5  class="heading heading__h3--align">Teehan + Lax</h5>
                            <hr class="feedback__hr">
                        </div>
                    </div>
                    <div class="feedback__avatar">
                        <input type="radio" name="feedback__avatar-list" class="feedback__radio" id="feedback__radio--id4">
                        <label class="feedback__label" for="feedback__radio--id4">
                            <div class="icon-container icon__feedback--inactive">
                                <img src="../../images/face4.jpg" class="icon-pic">
                            </div>
                        </label>
                        <div class="feedback__review">
                            <div class="icon-container icon__feedback--main">
                                <img src="../../images/face4.jpg" alt="4th Face" class="icon-pic">
                            </div>
                            <h2 class="heading heading__h3 heading__h3--align">4th text</h2>
                            <h5  class="heading heading__h3--align">Teehan + Lax</h5>
                            <hr class="feedback__hr">
                        </div>
                    </div>
                    <div class="feedback__avatar">
                        <input type="radio" name="feedback__avatar-list" class="feedback__radio" id="feedback__radio--id5">
                        <label class="feedback__label" for="feedback__radio--id5">
                            <div class="icon-container icon__feedback--inactive">
                                <img src="../../images/face5.jpg" class="icon-pic">
                            </div>
                        </label>
                        <div class="feedback__review">
                            <div class="icon-container icon__feedback--main">
                                <img src="../../images/face5.jpg" alt="5th Face" class="icon-pic">
                            </div>
                            <h2 class="heading heading__h3 heading__h3--align">5th text</h2>
                            <h5 class="heading heading__h3--align">Teehan + Lax</h5>
                            <hr class="feedback__hr">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>  
</body>
</html>