<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/components/all.css">
</head>
<body>
<nav class="nav container">
    <div class="row">
        <ul class="list nav__list">
            <li class="list__item nav__link">
                <a class="link link--hover" href="#">Log in</a>
            </li>
            <li class="list__item nav__link">
                <a class="link link--hover" href="#">Support</a>
            </li>
            <li class="list__item nav__link">
                <a class="link link--hover" href="#">How it works</a>
            </li>
            <li class="list__item nav__link">
                <a class="link link--hover" href="#">About Land.io</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>