<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="general.css">
    <link rel="stylesheet" type="text/css" href="grid.css">
    <link rel="stylesheet" type="text/css" href="icon.css">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="headings.css">
    <link rel="stylesheet" type="text/css" href="info.css">
</head>
<body>
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col col-4">
                    <div class="icon-container icon__info">
                        <img src="../../images/pen.png" class="icon-pic">
                    </div>
                    <h1 class="heading heading__h5 info__header--margin">
                        250
                    </h1>
                    <h1 class="heading heading__h4 heading__h4--align">
                        UI Elements
                    </h1>
                    <hr class="phone__hr--width">
                    <p class="phone__paragraph--size">
                        Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.
                    </p>
                </div>

                <div class="col col-4">
                    <div class="icon-container icon__info">
                        <img src="../../images/lightning.png" class="icon-pic">
                    </div>
                    <h1 class="heading heading__h5 info__header--margin">
                        Ultra
                    </h1>
                    <h1 class="heading heading__h4 heading__h4--align">
                        Modern design
                    </h1>
                    <hr class="phone__hr--width">
                    <p class="phone__paragraph--size">
                        Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.
                    </p>
                </div>

                <div class="col col-4">
                    <div class="icon-container icon__info">
                        <img src="../../images/heart.png" class="icon-pic">
                    </div>
                    <h1 class="heading heading__h5 info__header--margin">
                        Free
                    </h1>
                    <h1 class="heading heading__h4 heading__h4--align">
                        Forever, and ever.
                    </h1>
                    <hr class="phone__hr--width">
                    <p class="phone__paragraph--size">
                        Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>