<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="general.css">
    <link rel="stylesheet" type="text/css" href="grid.css">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="headings.css">
    <link rel="stylesheet" type="text/css" href="phone.css">
</head>
<body>
    <div class="phone">
        <div class="container">
            <div class="row">
                <div class="col col-8 col-offset-2">
                    <h1 class="heading heading__h3">
                        Build your beautiful UI, the way you want it, with Land.io
                    </h1>
                </div>
                <div class="col col-6 col-offset-3">
                    <h1 class="heading heading__h4">
                        Craft memerable, emotive experiences with our range of beautiful UI elements.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>