<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/components/all.css">
    <link rel="stylesheet" href="./css/components/price.css">
</head>
<body>
        <div class='price'>
                <div class='container'>
                    <div class="row">
                        <div class="col col-offset-4 col-8">
                            <h3 class="heading heading__h3">Manage your subscriptions</h3>
                        </div>
                    </div>
                    <div class="row">
                          <div class="col col-4">
                              <div class="price__item">
                                <div class="price__header">
                                    <span>personal</span>
                                </div>
                                <div class="price__content">
                                    <p>Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.</p>
                                    <span class="price__price"><em>$</em>19<i>/month</i></span>
            
                                    <ul class="list price__list">
                                        <li class="list__item list__item--price">Sed risus feugiat</li>
                                        <li class="list__item list__item--price">Sed risus feugiat fusce eu sit</li>
                                        <li class="list__item list__item--price">Sed risus feugiat fusce</li>
                                    </ul>
                                </div>
            
                                <button class="button button--purple-border">GET STARTED</button>
                              </div>
                          </div>
                          <div class="col col-4">
                                <div class="price__item">
                                  <div class="price__header">
                                      <span>professional</span>
                                  </div>
                                  <div class="price__content">
                                      <p>Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.</p>
                                      <span class="price__price"><em>$</em>49<i>/month</i></span>
              
                                      <ul class="list price__list">
                                        <li class="list__item list__item--price">Sed risus feugiat</li>
                                        <li class="list__item list__item--price">Sed risus feugiat fusce eu sit</li>
                                        <li class="list__item list__item--price">Sed risus feugiat fusce</li>
                                      </ul>
                                  </div>
              
                                  <button class="button button--purple-border">GET STARTED</button>
                                </div>
                            </div>
                            <div class="col col-4">
                                    <div class="price__item">
                                      <div class="price__header">
                                          <span>enterprise</span>
                                      </div>
                                      <div class="price__content">
                                          <p>Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras.</p>
                                          <span class="price__price"><em>$</em>99<i>/month</i></span>
                  
                                          <ul class="list price__list">
                                            <li class="list__item list__item--price">Sed risus feugiat</li>
                                            <li class="list__item list__item--price">Sed risus feugiat fusce eu sit</li>
                                            <li class="list__item list__item--price">Sed risus feugiat fusce</li>
                                          </ul>
                                      </div>
                  
                                      <button class="button button--purple-border">GET STARTED</button>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
</body>
</html>