
.signup {
    background-color: #f4f5f7;
    padding-top: 90px;
    padding-bottom: 99px;
}
.signup__heading--margin-bottom {
    margin-bottom: 59px;
}
.signup__link--text-color {
    color: #424753;
}
.signup__button--width{
    width: 100%;
}
.signup__heading--align{
    text-align: center;
}
.signup__button--font-size{
    font-size: 13px;
}
.signup__div-input{
    position: relative;
}
.signup__div-input>div>img{
    opacity: 0.3;
}