<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="all.css">
  <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
    <div class="signup">
        <div class="container">
            <div class="row">
                <div class="col col-12 signup__heading--margin-bottom">
                        <h3 class="heading heading__h3 signup__heading--align">Sign up to receive free updates as soon as they hit!</h3>
                </div>
            </div>
            <div class="row">
                <form>
                    <div class="col col-12">
                            <div class="col col-3 signup__div-input">
                                <div class="input--icon-user">
                                    <img  src="../../images/icon-user.png"></img>
                                </div>
                                <input class=" input input--blocked" type="text" placeholder="Your name">
                            </div>
                            <div class="col col-3 signup__div-input">
                                <div class="input--icon-email">
                                    <img  src="../../images/icon-email.png"></img>
                                </div>
                                <input class="input input--blocked " type="text" placeholder="Email address">
                            </div>
                            <div class="col col-3 signup__div-input">
                                <div class="input--icon-lock">
                                    <img  src="../../images/icon-lock.png"></img>
                                </div>
                                <input class="input input--blocked " type="password" placeholder="Enter a password">
                            </div>
                            <div class="col col-3">
                                <button class="button button--purple signup__button--width input--blocked signup__button--font-size" type="submit">SIGN UP FOR FREE!</button>
                            </div>    
                    </div>
                    <div class="col col-4">
                        <div class="input--checkbox input--margin-top">
                            <input class= "" id="check1" type="checkbox" checked>
                            <label for="check1" class=""></label>
                            <span class="label--margin-left heading__h4">I agree to Land.io’s <a class="signup__link--text-color" href="">terms of service</a></span> 
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</body>
</html>    